@import "variables";

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none

@mixin bottom-shadow
  box-shadow: 0 1px 2px 2px $mainShadowColor

@mixin right-shadow
  box-shadow: 1px 0 2px 2px $mainShadowColor

@mixin surround-shadow
  box-shadow: 1px 1px 2px 2px $mainShadowColor

@mixin flex-column-containment
  display: flex
  flex-direction: column