@import "variables";
@import "common-mixins";
  
.containment
  background-color: $darkTypeOne
  display: flex
  max-height: $maxNavbarHeight
  padding: 0.5em
  position: relative
  z-index: $zIndexNavbar
  @include bottom-shadow

.navbar-nav
  display: flex
  width: 100%

  & > *
    flex: 0 1 auto

.sidebar-icon
  content: ''
  width: 2em
  height: 2em

.site-logo
  content: ''
  width: 2em
  height: 2em

.search-containment
  content: ''

.listed-items
  @include reset-list
  display: flex
  content: ''