@import "variables"
@import "common-mixins"

.containment
  background-color: $darkTypeOne
  display: flex
  padding: 0 0
  position: fixed
  width: 100%
  z-index: $zIndexNavbar
  align-items: center
  @include bottom-shadow

.navbar-nav
  display: flex
  width: 100%

  & > *
    flex: 0 1 auto

.sidebar-icon-containment
  display: flex
  align-items: center

.sidebar-icon-button
  @include make-list-compatible-button
  padding: 0 1em

.site-logo
  display: block
  display: flex
  align-items: center
  margin-right: 1em

.search-containment
  display: flex
  align-items: center

.search-component
  background-color: $navbarSearchColor
  display: flex
  align-items: center
  border-radius: 3px 3px 3px 3px

  .search-icon
    padding: 0.5em

  .search-input
    background-color: $navbarSearchColor
    border: none
    padding: 0.5em
    border-radius: 3px 3px 3px 3px
    display: block

.listed-items
  @include reset-list
  @include items-are-flex
  @include buttons-held-by-items-are-reset
  margin-left: auto
  display: flex

  li
    display: flex

    button
      padding: 1em

.message-notifcation-containment button
  position: relative

.message-indicator
  position: absolute
  width: 1.75em
  height: 1.75em
  top: 0.5em
  right: 0.5em
  border-radius: 50%
  background-color: $messageIndicatorGreen
  color: #eee
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.greeting-and-addressing-block
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 100px
  text-align: center
  font-size: 0.75em

.addressing-block
  color: #888

@media screen and (max-width: $navBreakpoint)
  .site-logo
  .search-containment
    margin-right: 0.1em
  .navbar-nav
    flex-wrap: wrap
  .listed-items

@media screen and (max-width: $secondNavBreakpoint)
  .site-logo
    margin-right: 0.1em
  .search-containment
    margin-right: 0.1em