@import "variables";
@import "common-mixins";
  
.containment
  background-color: $darkTypeOne
  min-height: 100vh
  content: ''
  position: relative
  top: 0
  z-index: $zIndexSidebar
  padding: 5em 0 0
  @include right-shadow

.sidebar-nav

.list-items
  @include reset-list
  @include items-are-flex
  @include buttons-held-by-items-are-reset
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  li
    flex: 1 1 auto
    display: flex

    button
      padding: 1em

@media screen and (max-width: $navBreakpoint)
  .containment
    padding: 8em 0 0