@import "variables";
  
.containment
  background-color: $darkTypeOne
  min-height: 100vh
  // width: auto
  content: ''
  // max-width: 30%
  position: absolute
  top: 0

.sidebar-nav
  content: ''

.list-items
  list-style-type: none
  display: flex
  flex-direction: column
  justify-content: center

  li
    flex: 1 1 auto
    display: block
    width: 100%