$darkTypeOne: #2a2b2fff
$darkTypeTwo: #4a4b4fff
$darkTypeThree: #121212ff

$cardPanelColor: #212226ff

$lightTypeOne: #ffffffff

$teamOrange: #bf381aff

$zIndexNavbar: 2

$zIndexSidebar: 1
$maxSidebarWidth: 45px
$maxNavbarHeight: 70px
$contentPush: 210px

$mainShadowColor: rgba(#111, 0.79)